body {
    font-family: Arial, sans-serif;
  }
  
  form {
    max-width: 400px;
    margin: auto;
    padding: 20px ;
    margin-top: 30px;
    background: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
.group-login {
  margin-top: 150px;
}
  
  h1 {
    text-align: center;
  }
  
  
  label {
    margin-bottom: .5em;
    color: #333333;
    display: block;
  }
  
  input {
    border: 1px solid #CCCCCC;
    padding: 3px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
  }

  
 
  .sumbit {
    margin-top: 1em;
  }
  button {
    padding: .7em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  
  
  