{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block content %}
<form method="post">
    <div class="group">
        <h1>Register Page</h1>
    
        <label for="first_name">First Name</label>
        <input id="first_name" name="first_name" type="text" required/>
        <br>
        <label for="second_name">Second Name</label>
        <input id="second_name" name="second_name" type="text" required/>
        <br>

        <label for="age">Age</label>
        <input id="age" name="age" type="number" required>
        <br>
        <label for="email">Email</label>
        <input id="email" name="email" type="email" required>      
        <br>
        <label for="phoneN">Phone Number</label>
        <input id="phoneN" name="phoneN" type="tel" required>
        <br>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" required>
        <br>
        <label for="confirm-password">Confirm Password</label>
        <input id="confirm-password" name="confirm-password" type="password" required>
        <br>
        <div class="sumbit"><button type="submit">Register</button></div>
    </div>
</form>   
{% endblock %}
