<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
    />
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"
    />
    {% block head %}{% endblock %}


</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        {% if request.path == '/' %}
        <ul>
            <li><a href="#intro">Home</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#about">About</a></li>

        </ul>
        {% endif %}
        <a  class="nav-item nav-link" id="home" href="/">HomePage</a>
        <a class="nav-item nav-link" href="{{ url_for('auth.cars') }}">Cars</a>
        <a class="nav-item nav-link" href="{{ url_for('auth.reservation') }}">Reservation</a>
  
        {% if current_user.is_authenticated %}
            <li  class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="{{ url_for('static', filename='user_icon.png') }}" class="rounded-circle" height="30" alt="User Icon">
              </a>
              <div align="center" class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="{{ url_for('auth.note') }}">Notes</a>
                  <a href="{{ url_for('auth.my_reservations') }}">My Reservations</a>
      
                  <a class="dropdown-item" href="{{ url_for('auth.settings') }}">Settings</a>
                  <form method="POST" action="{{ url_for('auth.delete_account') }}" class="dropdown-item p-0">
                      <button type="submit" class="btn btn-link text-danger">Delete Account</button>
                  </form>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
              </div>
            </li>
            {% else %}
              <a class="nav-item nav-link" href="{{ url_for('auth.sign_up') }}">Sign Up</a>
              <a class="nav-item nav-link" href="{{ url_for('auth.login') }}">Login</a>

            {% endif %} 
            {% if request.path == '/' %}
              <button id="theme-toggle" class="theme-toggle">Dark Mode</button>
            {% endif %} 

          </div>
    </div>
  </nav>
                                    
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="container">{% block content %} {% endblock %}</div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    {% block scripts %}
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    {% endblock %}

  </body>
</html>