{% extends "base.html" %}

{% block title %}Reservation{% endblock %}
{% block head %}
    {{ super() }}

<link rel="stylesheet" href="{{ url_for('static', filename='reservation.css') }}">
{% endblock %}



{% block content %}
<div class="container" align="center">
    <h1>Reservation Form</h1>
    <form method="POST" action="{{ url_for('auth.reservation') }}">
        <div class="form-group">
            <label for="car_id">Car ID:</label>
            <input type="text" name="car_id" id="car_id" required>
        </div>

        <div class="form-group">
            <label for="start_date">Start Date:</label>
            <input type="date" name="start_date" id="start_date" required>
        </div>
        <div class="form-group">
            <label for="end_date">End Date:</label>
            <input type="date" name="end_date" id="end_date" required>
        </div>
        <div class="form-group">
            <label for="age">Age:</label>
            <input type="number" name="age" id="age" required>
        </div>
        <div class="form-group">
            <label for="phone_number">Phone Number:</label>
            <input type="tel" name="phone_number" id="phone_number" required>
        </div>
        <div class="form-group">
            <label for="license_copy">License Copy:</label>
            <input type="file" name="license_copy" id="license_copy" required>
        </div>
        <div class="form-group">
            <label for="personal_id_copy">Personal ID Copy:</label>
            <input type="file" name="personal_id_copy" id="personal_id_copy" required>
        </div>
        <div class="form-group">
            <label for="payment_method">Payment Method:</label>
            <select name="payment_method" id="payment_method" required>
                <option value="">Select Payment Method</option>
                <option value="Credit Card">Credit Card</option>
                <option value="Debit Card">Debit Card</option>
                <option value="PayPal">PayPal</option>
                <option value="Bank Transfer">Bank Transfer</option>
            </select>
        </div>
        <button type="submit">Book</button>
    </form>
</div>
<script>
    document.getElementById("reservationForm").addEventListener("submit", function(event) {
        var confirmed = confirm("Are you sure you want to book this reservation?");
        if (!confirmed) {
            event.preventDefault(); // Prevent form submission if not confirmed
        }
    });
</script>

{% endblock %}


